body {
    text-align: center;
}

.title {
    color: navy;
}

.on {
    background-color: white;
}

.off {
    background-color: black;
    color: white;
}

.warning {
    padding: 10px;
    color: red;
}

.movieForm {
    padding: 10px;
}