body {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.title {
    color: navy;
}

.on {
    background-color: white;
}

.off {
    background-color: black;
    color: white;
}

.warning {
    padding: 10px;
    color: red;
}

.movieForm {
    padding: 10px;
}

.FancyBorder {
    padding: 10px 10px;
    margin: 10px 10px;
    border: 10px solid;
}

.FancyBorder-blue {
    border-color: blue;
}

.Dialog-title {
    margin: 0;
    font-family: sans-serif;
}

.Dialog-message {
    font-size: larger;
}

.SplitPane {
    width: 100%;
    height: 100%;
}

.SplitPane-left {
    float: left;
    width: 50%;
    height: 100%;
}

.SplitPane-right {
    float: right;
    width: 50%;
    height: 100%;
}

/*
    Filterable Product Table
*/

.filterableProductTable {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
}

.productCategoryRow.header {
    color: green;
    font-style: bold;
}